<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/_Log/EN_debuglog${date:format=yyyyMMdd}.txt>">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="Index" layout="${counter}" />
        <column name="time" layout="${longdate}" quoting="Nothing" />
        <column name="level" layout="${level:upperCase=true}" quoting="Nothing"/>
        <column name="message" layout="${message}" quoting="Nothing"/>
        <column name="exception" layout="${exception:format=ToString}" quoting="Nothing"/>
      </layout>
    </target>
    <target name="logconsole" xsi:type="Console" />
    <target name="logdesktop" xsi:type="File" fileName="${specialfolder:folder=DesktopDirectory}/EN_log${date:format=yyyyMMdd}.txt">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="Index" layout="${counter}" />
        <column name="time" layout="${longdate}" quoting="Nothing" />
        <column name="level" layout="${level:upperCase=true}" quoting="Nothing"/>
        <column name="message" layout="${message}" quoting="Nothing"/>
        <column name="exception" layout="${exception:format=ToString}" quoting="All"/>
      </layout>
    </target>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="*" minlevel="Info" writeTo="logdesktop" />
    <logger name="*" minlevel="Fatal" writeTo="logdesktop" />
  </rules>
</nlog>